# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor configs
.vscode/
.idea/

# Upsun runtime
.upsun/
# Allow tracking the main Upsun config file
!.upsun/config.yaml
